.web-synth {
  width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#333, #111) no-repeat;
  border-radius: 10px;
  min-height: 400px;
  box-shadow: 0 5px 10px rgba(0,0,0,.4);
}

.web-synth__title {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #000;
}

.web-synth__playback-controls {
  display: flex;
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, .2);
  justify-content: space-between;
  position: relative;
}

.web-synth__button {
  padding: 10px 20px;
  appearance: none;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 5px;
}

.pot__wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  width: 15%;

  svg {
    overflow: visible;
    height: 50px;
    width: 100%;
  }

  .pot__value-indicator {
    transform: rotate(135deg);
    transform-origin: center;
  }

  .pot__label {
    font-size: 10px;
  }

  .pot {

  }
}
